# Loading a CSV file into SQL after data cleaning
The Carbon Nanotube Data to be passed into an SQL table

# Importing Libraries

In [ ]:
import mysql.connector as connection
import csv
mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
cur = mydb.cursor()

# Creating SQL Table

In [ ]:
cur.execute("CREATE TABLE d_base.nanotube (Chiral_indice int(5), Chiral-Indice int(5), Initial_atomic_coordinate varchar(20),"\
            " Initial_atomic_coordinate varchar(20),  Initial_atomic_coordinate varchar(20), Calculated-atomic-coordinates varchar(20), "\
            " Calculated_atomic_coordinates varchar(20), Calculated _atomic_coordinates varchar(20))")

# Data Cleaning
Data cleaning and loading into a new csv file

In [ ]:
new=open("data.csv",'w')
writer=csv.writer(new)
with open("carbon_nanotubes.csv",'r') as data:
    next(data)
    data_csv=csv.reader(data,delimiter=';')
    for i in data_csv:
        k=0
        for j in i:
            g=j.replace(';',',')
            i[k]=g.replace('\n','')
            k+=1
        if any(i):
            writer.writerow(i)
            
with open('data.csv') as input, open('data1.csv', 'w', newline='') as output:
     writer = csv.writer(output)
     for row in csv.reader(input):
         if any(field.strip() for field in row):
             writer.writerow(row)

# Inserting in SQL Table

In [ ]:
with open("data1.csv",'r') as d1:
    for i in d1:
        cur.execute('insert into sat1234.nanotube4 values ({data})'.format(data=(i)))
        
mydb.commit()

# View data from SQL Table

In [ ]:
mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
cur=mydb.cursor()
cur.execute("select * from sat1234.nanotube4")
for i in cur.fetchall():
    print(i)